@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoSerif-Variable;
  font-weight: 100 900;
  src: url("./assets/fonts/NotoSerif-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: Finlandica-Variable;
  font-weight: 100 900;
  font-style: normal;
  src: url("./assets/fonts/Finlandica-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: Koulen;
  font-weight: 100 900;
  font-style: normal;
  src: url("./assets/fonts/Koulen-Regular.ttf") format("truetype");
}

@layer base {
  h1 {
    @apply font-serif text-4xl md:text-8xl font-light uppercase tracking-widest;
  }

  h2 {
    @apply font-serif text-3xl md:text-6xl font-light tracking-wider;
  }

  h3 {
    @apply font-serif text-2xl md:text-5xl;
  }

  h4 {
    @apply font-serif text-xl md:text-[2.125rem] tracking-wide;
  }

  h5 {
    @apply font-serif text-lg md:text-2xl;
  }

  h6 {
    @apply font-serif text-lg md:text-xl font-medium tracking-[0.15em] uppercase;
  }
}

@layer components {
  /* .TuiTypography {
    @apply w-fit dark:text-white;
  } */
/* 
  .TuiSubtitle1 {
    @apply font-sans tracking-tighter text-base;
  }

  .TuiSubtitle2 {
    @apply font-sans text-sm font-medium tracking-tight;
  }

  .TuiSubtitle2 {
    @apply font-sans text-sm font-medium;
  }

  .TuiBody1 {
    @apply font-sans text-base;
  }

  .TuiBody2 {
    @apply font-sans text-sm;
  }

  .TuiCaption {
    @apply font-sans text-xs tracking-wider;
  }

  .TuiOverline {
    @apply font-sans text-xs tracking-wider uppercase decoration-transparent;
  } */

  .TuiFieldValidation {
    @apply border-red-800 dark:border-red-200;
  }

  .TuiFormGroup {
    @apply grid gap-2 relative;
  }

  /* .TuiButton {
    @apply w-full flex justify-center hover:bg-primary-400 active:bg-primary-500 active:text-white bg-primary-300 dark:bg-primary-700 dark:hover:bg-primary-800 dark:active:bg-primary-900 dark:text-white border dark:border-white border-primary-950 text-primary-950 transition-all duration-300 p-3 lg:p-4 uppercase disabled:opacity-50;
  } */

  /* .TuiCard {
    @apply p-4 dark:text-white;
  } */

  .TuiCardContent {
    @apply grid gap-4;
  }

  .TuiCardHeader {
    @apply grid gap-y-2;
  }

  .TuiCardBody {
    @apply TuiTypography TuiBody1;
  }

  .TuiCardMedia {
    @apply w-full h-64 object-cover object-center cursor-pointer;
  }

  /* .TuiCardActionArea {
    @apply grid md:flex items-center gap-4;
  } */

  .TuiDivider {
    @apply h-1 w-full bg-[rgba(var(--secondary-color))];
  }

  .TuiDividerLight {
    @apply divider h-0.5;
  }

  .TuiDividerThick {
    @apply divider h-2;
  }

  .TuiHelperText {
    @apply text-sm text-red-800 dark:text-red-200;
  }

  .TuiTextField {
    @apply rounded-none dark:border-white border-b-2 outline-none border-t-0 border-l-0 border-r-0 TuiBody1 focus:ring-transparent transition-colors duration-500 dark:text-white bg-transparent focus:border-primary-400 dark:focus:border-primary-700 hover:border-primary-400 dark:hover:border-primary-700 block w-full p-4 disabled:opacity-50;
  }

  .TuiTextField[data-should-validate="true"] {
    @apply TuiFieldValidation;
  }

  .TuiLabel {
    @apply text-primary-950 dark:text-white transition-all duration-300 ease-in-out;
  }

  .TuiList {
    @apply list-none grid gap-4 px-4;
  }

  .TuiListItem {
    @apply flex text-left items-center list-none gap-4 py-4 dark:text-white;
  }

  .TuiListItemText {
    @apply flex-1;
  }

  .TuiTextArea {
    @apply rounded-none resize-none border-b-2 outline-none border-t-0 border-l-0 border-r-0 text-lg focus:ring-transparent transition-colors duration-500 dark:text-white bg-transparent focus:border-primary-400 dark:focus:border-primary-700 hover:border-primary-400 dark:hover:border-primary-700 block w-full p-4 disabled:opacity-50;
  }

  .TuiTextArea[data-should-validate="true"] {
    @apply TuiFieldValidation;
  }
}
