@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #181818;
  --primary-color: 255, 255, 255;
  /* RGB Numberical Values Only */
  --secondary-color: 255, 255, 255;
  --error-color: rgb(119 29 29);
  --text-color: #ffffff;
}

@font-face {
  font-family: NotoSerif-Variable;
  font-weight: 100 900;
  src: url("./assets/fonts/NotoSerif-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: Finlandica-Variable;
  font-weight: 100 900;
  font-style: normal;
  src: url("./assets/fonts/Finlandica-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: Koulen;
  font-weight: 100 900;
  font-style: normal;
  src: url("./assets/fonts/Koulen-Regular.ttf") format("truetype");
}

@layer base {
  .Tui-Typography {
    @apply w-fit;
  }

  h1 {
    @apply font-serif text-4xl md:text-8xl font-light uppercase tracking-widest;
  }

  h2 {
    @apply font-serif text-3xl md:text-6xl font-light tracking-wider;
  }

  h3 {
    @apply font-serif text-2xl md:text-5xl;
  }

  h4 {
    @apply font-serif text-xl md:text-[2.125rem] tracking-wide;
  }

  h5 {
    @apply font-serif text-lg md:text-2xl;
  }

  h6 {
    @apply font-serif text-lg md:text-xl font-medium tracking-[0.15em] uppercase;
  }

  .Tui-Subtitle1 {
    @apply font-sans tracking-tighter text-base;
  }

  .Tui-Subtitle2 {
    @apply font-sans text-sm font-medium tracking-tight;
  }

  .Tui-Subtitle2 {
    @apply font-sans text-sm font-medium;
  }

  .Tui-Body1 {
    @apply font-sans text-base;
  }

  .Tui-Body2 {
    @apply font-sans text-sm;
  }

  .Tui-Caption {
    @apply font-sans text-xs tracking-wider;
  }

  .Tui-Overline {
    @apply font-sans text-xs tracking-wider uppercase decoration-transparent;
  }

  .Tui-FieldValidation {
    @apply invalid:focus:border-[var(--error-color)] invalid:border-b-[var(--error-color)];
  }
}

@layer components {
  .Tui-Button {
    @apply w-full flex justify-center hover:bg-[rgba(var(--secondary-color),0.2)] active:bg-[rgba(var(--primary-color),0.2)] border-2 border-white transition-all duration-300 p-3 lg:p-4 uppercase disabled:opacity-50;
  }

  .Tui-Card {
    @apply p-4;
  }

  .Tui-CardContent {
    @apply grid gap-4;
  }

  .Tui-CardHeader {
    @apply grid gap-y-2;
  }

  .Tui-CardBody {
    @apply Tui-Body1;
  }

  .Tui-CardMedia {
    @apply w-full h-64 object-cover object-center cursor-pointer;
  }

  .Tui-CardActionArea {
    @apply grid md:flex items-center gap-4;
  }

  .Tui-Divider {
    @apply h-1 w-full bg-[rgba(var(--secondary-color))];
  }

  .Tui-DividerLight {
    @apply divider h-0.5;
  }

  .Tui-DividerThick {
    @apply divider h-2;
  }

  .Tui-TextField {
    @apply rounded-none border-b-2 outline-none text-[#ffffff] border-t-0 border-l-0 border-r-0 border-[var(--background-color)] text-lg focus:ring-transparent transition-colors duration-500 focus:border-[rgba(var(--secondary-color))] hover:border-[rgba(var(--secondary-color))] block w-full p-4 bg-[rgba(var(--primary-color),0.2)] disabled:opacity-50;
  }

  .Tui-TextField[data-should-validate="true"] {
    @apply field-validation;
  }

  .Tui-Label {
    @apply block group-focus-within:font-bold mb-2 text-base text-[var(--text-color)];
  }

  .Tui-List {
    @apply list-none grid gap-4 px-4;
  }

  .Tui-ListItem {
    @apply flex text-left items-center list-none gap-4 py-4;
  }

  .Tui-ListItemText {
    @apply flex-1;
  }

  .Tui-TextArea {
    @apply rounded-none resize-none border-b-2 outline-none text-[#ffffff] border-t-0 border-l-0 border-r-0 border-[#222222] text-lg focus:ring-transparent transition-colors duration-500 focus:border-[rgba(var(--secondary-color))] hover:border-[rgba(var(--secondary-color))] block w-full p-4 bg-[rgba(var(--primary-color),0.2)] disabled:opacity-50;
  }

  .Tui-TextArea[data-should-validate="true"] {
    @apply field-validation;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: var(--background-color);
  color: var(--text-color);
}
