@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoSerif;
  src: url("./assets/fonts/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: NotoSerif-Variable;
  font-weight: 100 900;
  src: url("./assets/fonts/NotoSerif-VariableFont.ttf") format("truetype");
}

@layer base {
  h1 {
    @apply font-serif font-light uppercase tracking-[0.3rem] text-[34px] md:text-8xl;
  }
  h4 {
    @apply text-fuchsia-300 text-3xl font-serif font-bold tracking-wide;
  }
  h6 {
    @apply font-serif font-light uppercase tracking-[0.3rem] text-base md:text-3xl;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #222222;
  color: #ffffff;
}
